* {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

/* html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #222;
} */

html,
body {
  background-color: #222;
  scroll-behavior: smooth;
}

.wrapper {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.box {
  position: fixed;
  height: 130px;
  width: 250px;
  /* background-color: red; */
  border: 3px solid white;
  top: 8%;
  transition: all ease 2s;
}

li,
a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.card {
  scroll-margin-top: 100px;
  width: 700px;
  height: 500px;
  padding: 2rem 1 rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  color: #222;
}

.card:hover {
  transform: translateY(20px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border: 3px solid red;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  bottom: 30%;
  right: 0;
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s all;
  text-align: center;
}

.card:hover .info {
  opacity: 1;
  /* transform: translateY(50px); */
}

.card .info h1 {
  font-size: 30px;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.mail {
  height: 100px;
  width: 400px;
  /* background-color: red; */
  text-align: center;
  padding: 20px 20px;
  border: 3px solid white;
  color: aquamarine;
}
.mailbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
